<%- include("partials/header"); -%>

<h1>CONTACT</h1>
<p>Pierrot Co., Ltd. (株式会社ぴえろ, Kabushiki-gaisha Piero) is a Japanese animation studio established in May 1979 by former employees of both Tatsunoko Production and Mushi Production. Its headquarters are located in Mitaka, Tokyo.[1] Pierrot is renowned for several worldwide popular anime series, such as Naruto, Bleach, Yu Yu Hakusho, Black Clover, Boruto: Naruto Next Generations, Tokyo Ghoul, and Great Teacher Onizuka.

The company has a logo of the face of a clown. "Piero" is a Japanese loanword for clown, adopted from the classical character of Pierrot.


</p>

<p>

   Pierrot Co., Ltd. headquarters in Mitaka, Tokyo, Japan

</p>





<%- include("partials/footer"); -%>
